$bg-color-laight: rgba(39, 39, 42, 1);
$bg-color-dark: rgba(32, 33, 36, 1);
$txt-color-laight: rgba(255, 255, 255, 1);
$txt-color-grey: rgba(161, 161, 170, 1);
$border-color: rgba(65, 65, 68, 1);
$icon-file-color: rgba(120, 144, 178, 1);
$icon-basket-color: rgba(223, 68, 68, 1);
$line-folder-color: rgba(198, 198, 198, 1);
